@import 'assets/styles/colors-and-sizes.scss';
@import 'assets/styles/mixins.scss';

.panel {
  @include isFlex($direction: column);
  width: calc(100% - $slider-width - 40px);
  min-width: 320px;
  max-width: 800px;
  height: fit-content;
  margin: 2rem auto;
  background-color: aqua;
  font-size: 1rem;

  @media (max-width: 900px) {
    width: 100%;
  }

  &_hidden {
    display: none;
  }

  &__items {
    @include isFlex($align: center, $wrap: wrap);
    width: 100%;
    min-width: 320px;
    height: fit-content;
    padding: 2rem;
    text-align: center;

    @media (max-width: 436px) {
      justify-content: space-around;
    }
  }

  &__item {
    @include isFlex();
    width: 140px;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__name {
    width: 40%;
  }

  &__input {
    width: 60%;
  }
}