@import 'assets/styles/colors-and-sizes.scss';
@import 'assets/styles/mixins.scss';

@import 'View/Tooltip/tooltip.scss';
@import 'View/Range/range.scss';
@import 'View/Thumb/thumb.scss';
@import 'View/Track/track.scss';
@import 'View/Scale/scale.scss';

.slider {
  @include isFlex($direction: column, $justify: center, $align: center);
  position: relative;
  width: $slider-width;
  min-width: 280px;
  height: fit-content;
  margin: 20px auto;
  border: 1px solid transparent;
  user-select: none;
  touch-action: none;

  @media (max-width: 900px) {
    width: 90%;
  }

  @media (max-width: 400px) {
    width: 90vmin;
    height: 80vmin;
  }

  &_vertical {
    flex-direction: row;
    width: fit-content;
    height: 320px;
  }
}