@import 'assets/styles/colors-and-sizes.scss';

.track {
  position: relative;
  width: calc(2 * $width-border + 100%);
  height: calc(2 * $width-border + $height-basic);
  margin-top: 2rem;
  border: $width-border solid $color-border;
  border-radius: 3px;
  background-color: $color-light;
  z-index: 1;

  &_vertical {
    width: $height-basic;
    height: 100%;
    margin-top: 0;
    margin-left: 3rem;
  }
}
