@import 'assets/styles/colors-and-sizes.scss';

.track {
  position: relative;
  z-index: 1;
  width: 100%;
  height: $height-basic;
  margin-top: 2rem;
  border-radius: 3px;
  background-color: $color-light;
  border: $width-border solid $color-border;

  &_vertical {
    width: $height-basic;
    height: 100%;
    margin-top: 0;
    margin-left: 3rem;
  }
}
