$bigger-side: 100%;
$smaller-side: 10px;
$border-width: 1px;

.slider__scale {
    position: relative;
    width: $bigger-side;
    height: $smaller-side;
    border-bottom: $border-width solid black;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 1rem;

    &_vertical {
        position: relative;
        width: $smaller-side;
        height: $bigger-side;
        border-right: $border-width solid black;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-right: 1.5rem;
    }
}

.scale__point {
    // position: relative;
    
    background: black;
    flex-shrink: 0;
    &_vertical {
        @extend .scale__point;
    }
}

.scale__number {
    position: absolute; 
    transform: translate(-50%, 10px);
    user-select: none;
    &_vertical {
        @extend .scale__number;
        transform: translate(10px,-50%);
    }
}