$width-tooltip: 3rem;
$height-tooltip: 2rem;
$color-tooltip: #008000;

// .slider__tooltip {
//     position: relative;
//     width: 100%;
//     height: $width-slider;

//     &_vertical {
//         position: relative;
//         height: 100%;
//         width: $width-slider;
//     }
// }

.tooltip {
    position: absolute;
    width: $width-tooltip;
    height: $height-tooltip;
    border-radius: 3px;
    background-color: $color-tooltip;
    text-align: center;
    line-height: $height-tooltip;
    z-index: 2;
}

.tooltip_first {
    left: 33%;
    transform: translate(-50%, -$height-tooltip);
}

.tooltip_second {
    left: 66%;
    transform: translate(-50%, -$height-tooltip);
}

.tooltip_first-vertical {
    top: 33%;
    transform: translate(-$width-tooltip, -50%);
}

.tooltip_second-vertical {
    top: 66%;
    transform: translate(-$width-tooltip, -50%);
}