.slider__range {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: auto;
    top: 0%;
    left: 0%;
    right: 66%;
    border: $width-border solid $color-border;
    border-radius: 3px;
    background: $color-basic;

    &_true {
        @extend .slider__range;
        left: 33%;
        right: 33%;
    }

    &_vertical {
        @extend .slider__range;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        //bottom: 66%;
        top: 66%;
        bottom: 0;

        &-true {
            @extend .slider__range_vertical;
            top: 33%;
            bottom: 33%;
        }
    }
}