.slider__range {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: auto;
    top: 0%;
    left: 0%;
    right: 66%;
    border: $width-border solid $color-border;
    border-radius: 3px;
    background: $color-basic;
    transform: translateY(-$width-border);

    &_true {
        @extend .slider__range;
        left: 33%;
        right: 33%;
    }

    &_vertical {
        @extend .slider__range;
        transform: translateX(-$width-border);
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        bottom: 66%;

        &-true {
            @extend .slider__range_vertical;
            top: 33%; 
        }
    }
}