$width-tooltip: 3rem;
$height-tooltip: 2rem;

.tooltip_first,
.tooltip_second {
  position: absolute;
  width: fit-content;
  min-width: $width-tooltip;
  height: $height-tooltip;
  border-radius: 3px;
  background-color: $color-tooltip;
  text-align: center;
  line-height: $height-tooltip;
  z-index: 2;
  user-select: none;
}

.tooltip_horizontal {
  transform: translate(-50%, -$height-tooltip);
}

.tooltip_vertical {
  transform: translate(-$width-tooltip, -50%);
}
