@import 'assets/styles/colors-and-sizes.scss';
@import 'assets/styles/mixins.scss';

$bigger-side: 100%;
$smaller-side: 10px;
$border-width: 1px;

.scale {
  @include isFlex($align: flex-end);
  position: relative;
  width: $bigger-side;
  height: $smaller-side;
  margin-bottom: 1rem;
  border-bottom: $border-width solid $color-dark;

  &_vertical {
    flex-direction: column-reverse;
    width: $smaller-side;
    height: $bigger-side;
    margin-bottom: 0;
    margin-right: 1.5rem;
    border-bottom: none;
    border-right: $border-width solid $color-dark;
  }

  &_disabled {
    display: none;
  }

  &__row {
    @include isFlex($align: flex-end);

    &_vertical {
      flex-direction: column-reverse;
    }
  }

  &__segment {
    background: $color-dark;
    width: 1px;
    height: 6px;
    flex-shrink: 0;

    &_vertical {
      height: 1px;
      width: 6px;
    }
  }

  &__number {
    position: absolute;
    transform: translate(-50%, 10px);
    user-select: none;

    &_vertical {
      transform: translate(10px, -50%);
    }
  }
}
