@import 'assets/styles/colors-and-sizes.scss';

$bigger-side: 100%;
$smaller-side: 10px;
$border-width: 1px;

.scale {
  position: relative;
  width: $bigger-side;
  height: $smaller-side;
  border-bottom: $border-width solid $color-dark;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 1rem;

  &_vertical {
    width: $smaller-side;
    height: $bigger-side;
    border-bottom: none;
    border-right: $border-width solid $color-dark;
    flex-direction: column-reverse;
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &_vertical {
      flex-direction: column-reverse;
    }
  }

  &__segment {
    background: $color-dark;
    width: 1px;
    height: 6px;
    flex-shrink: 0;

    &_vertical {
      height: 1px;
      width: 6px;
    }
  }

  &__number {
    position: absolute;
    transform: translate(-50%, 10px);
    user-select: none;

    &_vertical {
      transform: translate(10px, -50%);
    }
  }
}
