.slider__thumb {
  position: absolute;
  z-index: 3;
  width: $half-thumb * 2;
  height: $half-thumb * 2;
  border-radius: 10px;
  background: $color-basic;
  border: 2px solid $color-light;
}

.thumb_first {
  transform: translate(-$half-thumb, -$height-basic);
}

.thumb_second {
  transform: translate(-$half-thumb, -$height-basic);
}

.thumb_first-vertical {
  transform: translate(-$height-basic, $half-thumb);
}

.thumb_second-vertical {
  transform: translate(-$height-basic, $height-basic);
}
