@import 'assets/styles/colors-and-sizes.scss';

$width-tooltip: 3rem;
$height-tooltip: 2rem;

.tooltip {
  position: absolute;
  width: fit-content;
  min-width: $width-tooltip;
  height: $height-tooltip;
  border-radius: 3px;
  border: 2px solid $color-basic;
  background-color: $color-tooltip;
  text-align: center;
  line-height: $height-tooltip;
  z-index: 2;
  user-select: none;

  &_horizontal {
    transform: translate(calc(-50% + $height-basic), -$height-tooltip);
  }

  &_vertical {
    transform: translate(-100%, calc(-50% + $height-basic));
  }

  &_disabled {
    display: none;
  }
}
