$height-basic: 6px;
$half-thumb: 8px;
$width-border: 1px;
$color-basic: #670042;
$color-light: #ffffff;
$color-tooltip: #008000;
$color-border: #3d3d3d;
$color-dark: #000;

* {
    box-sizing: border-box;
}

.slider__content {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 1px solid transparent;
    user-select: none;
    touch-action: none;

    &_vertical {
        @extend .slider__content;
        width: max-content;
        height: 100%;
        flex-direction: row;
    }
}

@import "../components/subview/tooltip/tooltip.scss";
@import "../components/subview/track/range/range.scss";
@import "../components/subview/track/thumb/thumb.scss";
@import "../components/subview/track/track/track.scss";
@import "../components/subview/scale/scale.scss";
@import "../components/panel/panel.scss";

.disabled {
    display: none;
}

.hidden {
    visibility: hidden;
}

.error-message {
    width: 100%;
    height: fit-content;
    background-color: $color-basic;
    color: $color-light;
    text-align: center;
}