@import 'assets/styles/colors-and-sizes.scss';

.range {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: auto;
  top: 0%;
  left: 0%;
  right: 66%;
  border: $width-border solid $color-border;
  border-radius: 3px;
  background: $color-basic;

  &_vertical {
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 66%;
    bottom: 0;
  }
}
