body {
    font-size: 16px;
}

.slider-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    margin: 40px auto;
    align-items: center;
}

#horizontal{
    width: 500px;
}

#vertical {
    margin-top: 40px;
    width: auto;
    height: 400px;
    margin-left: 0;
}