@import './colors-and-sizes.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;
}

.slider__content {
  @include isFlex($direction: column, $justify: center, $align: center);
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  border: 1px solid transparent;
  user-select: none;
  touch-action: none;

  &_vertical {
    flex-direction: row;
    width: max-content;
    height: 100%;
  }
}

.js-disabled {
  display: none;
}

.js-hidden {
  visibility: hidden;
}

.js-error-message {
  width: 100%;
  height: fit-content;
  background-color: $color-basic;
  color: $color-light;
  text-align: center;
}