@import './colors-and-sizes.scss';

* {
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

.error-message {
  width: 100%;
  height: fit-content;
  background-color: $color-basic;
  color: $color-light;
  text-align: center;
}