.slider__content {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid transparent;
}

.slider__track {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
}

.slider__range {
    position: absolute;
    z-index: 2;
    height: 100%;
    top: 0;
    left: 0%;
    right: 66%;
    border-radius: 3px;
    background: #670042;
}

.slider__thumb {
    position: absolute;
    z-index: 3;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: #670042;
    border: 2px solid #fff;
}

.slider__thumb.thumb_first {
    left: 33%;
    transform: translateX(-8px);
}

.slider__thumb.thumb_second {
    right: 66%;
    transform: translate(4px,-2px);
}